@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Mono+One&display=swap');

body{
    --home-color: rgb(0, 67, 143);
    --button-color: rgb(6, 120, 234);
}

.home-1{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #C6E2ED;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.home-1 img{
    width: 100%;
    position: absolute;
}

.home-1::before{
    background: linear-gradient(#0d1f3f,transparent);
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.home-1 div:nth-child(1){
    margin-top: 100px;
}

.home-1 div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Lexend", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 1.8rem;
    z-index: 102;
    margin-right: 10%;
}

.home-1 h1{
    text-transform: uppercase;
}

.home-1 div p,
.home-2 div p{
    font-weight: 300;
    opacity: 75%;
    text-align: justify;
    font-size: 1rem;
}


.home-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 200px;
    font-family: "Lexend", sans-serif;
    background-color: white;
}

.home-2 h2{
    color: var(--home-color);
    font-size: 3rem;
}

.home-2box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.home-2box div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--home-color);
    width: 300px;
    margin-top: 75px;
    text-align: center;
    gap: 30px;
}

.home-2 div img{
    height: 100px;
}

.home-3{
    background: url('https://images.pexels.com/photos/4386466/pexels-photo-4386466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 0% 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lexend", sans-serif;
    color: white;
    overflow: hidden;
}

.home-3::before{
    content: "";
    background-color: rgb(5, 25, 51);
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: 90%;
}

.home-3 img{
    position: absolute;
    height: 150px;
    z-index: 100;
    filter: brightness(50%);
}

.home-3 section:nth-child(3) img{
    top: 500px;
    left: -100px;
    height: 300px;
}
.home-3 section:nth-child(1) img{
    bottom: 500px;
    left: -100px;
    height: 400px;
    filter: blur(5px);
}
.home-3 section:nth-child(2) img{
    top: 500px;
    left: -100px;
    height: 300px;
}

.home-3 h1{
    z-index: 2;
    text-transform: uppercase;
    font-size: 5rem;
}

.home-3 div{
    z-index: 2;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.52rem;
}

.home-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 7%;
    color: var(--home-color);
}
.home-4 h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}
.home-4 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 60px;
}

.home-4 div section img{
    height: 400px;
}

.home-4 div :nth-child(1){
    width: 600px;
}

.home-4 div section{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-family: "Lexend", sans-serif;
    text-align: justify;
}